# Logs
logs
*.log
*.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env*.local

# cache
.cache
.cache/
.module-cache

# Next.js environment
next-env.d.ts

# Next.js build output
.next
out
dist

# Production
build/

# misc
.DS_Store
*.pem

# Vercel
.vercel

# Testing
coverage/

# Temp
.temp

# Serverless directories
.serverless/

# Stores VSCode versions used for testing VSCode extensions
.vscode
.vscode-test
